.input_greet {
  background-color: transparent;
  border: 1px solid #9A9A9A;
  border-radius: 15px;
  height: 27%;
  width: 100%;
  margin-top: 5%;
  color: white;
  font-size: 1.2rem;
  resize: none;
}
.btn_confirm {
  margin-top: 5%;
  border: 0px;
}
.lbl_message {
  color: white;
}