.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #241332;
    position: relative;
}
@media screen and (min-width: 1024px) {
    .container {
     width: 375px;
    }
  }
.background_pic {
    min-height: 76vh;
    width: 100%;
    object-fit: cover;
}

.brand_pic {
    position: absolute;
    margin-top: 10%;
}

.entry {
   
   padding: 2rem 1rem 2rem 3rem;
   background-color: #864879;
   position: absolute;
   bottom: 10%;
   right: 0%;
   border-radius: 10px 0 0 80px;
   z-index: 1;
  
   font-size: 2.1rem;
}

.entry_shadow {
    padding: 2rem 1rem 2rem 3rem;
    position: absolute;
    color: transparent;
    font-size: 2.1rem;
    bottom: 13%;
    right: 0%;
    background-color: transparent;
    border: 2px white solid;
    border-radius: 10px 0 0 80px;
 }

.btn_enter {
    position: absolute;
    cursor: pointer;
    color: white;
    background-color: #E9A6A6;
    z-index: 1;
    border-radius: 25px 0 0 25px;
    bottom: 10%;
    right: 0%;
    padding: 1rem;
    border: 0px;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
 }

.arrow_icon1 {
    margin: 0 0.5em 0 0;
}
 .btn_enter_shadow {
    position: absolute;
    bottom: 9.5%;
    right: 0%;
    height: 3.31rem;
    width: 11rem;
    color: white;
    background-color: #241332;
    border: 2px white solid;
    border-radius: 25px 0 0 25px;
   
 }