.input_greet {
  background-color: transparent;
  border: 1px solid #9A9A9A;
  border-radius: 15px;
  height: 27%;
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.btn_confirm {
  margin-top: 10%;
  border: 0px;
}