.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

button {
  background-color: #864879;
  color: white;
  font-size: 1.375rem !important;
  cursor: pointer;
  border-radius: 15px;
  padding: 0.7rem;
  border: 1px solid white;
  width: 100%;
  margin-top: 5%;
 
}

.btn_group {
  margin-top: auto;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .btn_group {
    margin-top: 20%;
  }
}

button:active {
  background-color: #4d1140;
}

.checkbox {
  color: #817889;
  float: right;
}

p {
  color: white;
  font-size: 1.375rem;
}

h1 {
  color: white;
  font-size: 1.625rem !important;
}

.arrow_icon {
  cursor: pointer;
}