body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans Hebrew';
  min-height: 100vh;
  min-height: -webkit-fill-available;
 
}

html {
  height: -webkit-fill-available;
  
}
