body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans Hebrew';
 flex-grow: 1;
 
}

html {
  
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
